.detailContainer{
    width: 100%;
    height: 100%;
    padding: 0 auto;
}
.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow{
    width: 50%;
    height: 2px;
    background-color: #000;
}
.value{
    width: 110%;
    height: 150px;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
    margin: 0 -15px;
    display: flex;
    align-items: center;
    
}
.value p {
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.value p span {
    font-size: 34px;
}
.evalution{
    border-top: 1px solid #000;
    padding: 0 15px;
    margin-bottom: 20px;
}
.subTitle{
    font-size: 18px;
    font-weight: lighter;
}
.list{
    list-style: none;
    padding: 0;
}
h3{
    font-size: 24px;
    font-weight: bold;
}
.commentContainer{
    text-align: left;
}
.comment{
    display: inline-block;
    max-width: 320px;
    word-wrap: break-word;
}