.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: var(--background-color-2);
    width: 100%;
    min-height: 100vh;
    font-size: 18px;
    font-family: 'GenJyuuGothic';
    color: #6a5026;
}
.contents{
    margin: auto;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}
.topText p{
    margin: 0;
    color: #6a5026;
}
.logoBox{
    margin-top: 55px;
    width: 198px;
    height: 100px;
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.3));
}
.logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn{
    text-decoration: none;
}
.btn button{
    background-color: #e9f0f5;
    padding: 20px;
    border: none;
    font-size: 18px;
    border-radius: 16px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3), -3px -3px 4px #ffffff;
    font-family: 'GenJyuuGothic';
    color: #6a5026;
}
/* .btn button:hover{
    box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.3), inset -3px -3px 4px #ffffff;

} */