.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color-2);
    flex-direction: column;
}
.container p{
    font-size: 35px;
    font-weight: bold;
    color: var(--background-color-2);
    text-shadow:  -2px -2px 2px rgba(255, 255, 255, 0.7),
                 2px 2px 2px rgba(0, 0, 0, 0.7);
}
.loader {
    position: relative;
    display: flex;
    align-items: center;
}
.loader span{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 0 15px;
    box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                inset 5px 5px 5px rgba(0, 0, 0, 0.6);
    animation: animate 6s linear infinite;
}
@keyframes animate {
    0%{
        box-shadow:  -5px -5px 5px rgba(255, 255, 255, 0.5),
                 5px 5px 5px rgba(0, 0, 0, 0.6);
    }
    100%{
        box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                    inset 5px 5px 5px rgba(0, 0, 0, 0.6);
    }
}
.loader span:nth-child(1){
    animation-delay: 0.5s;
    height: 40px;
}
.loader span:nth-child(2){
    animation-delay: 1s;
    height: 80px;
}
.loader span:nth-child(3){
    animation-delay: 1.5s;
    height: 120px;
}
.loader span:nth-child(4){
    animation-delay: 2s;
    height: 160px;
}
.loader span:nth-child(5){
    animation-delay: 2.5s;
    height: 200px;
}
.loader span:nth-child(6){
    animation-delay: 3s;
    height: 240px;
}