body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,'GenJyuuGothic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --background-color-2: #EDF1F4;
  --background-color-1: #fcf2f0;
  --header-background-color-1:#A5CFD5;
  --header-background-color-2:#E7AA9A;
  --top-shadow-1:#BBE6ED;
  --top-shadow-2:#EDBFB3;
  --bottom-shadow-1:#579CA5;
  --bottom-shadow-2:#D3826C;


}
@font-face {
  font-family: "GenJyuuGothic";
  src: local("GenJyuuGothic"),
   url("./fonts/GenJyuuGothic/GenJyuuGothic-Normal.ttf") format("truetype");
  font-weight: bold;
  }